<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sol_s_RNG_Biome_Detector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sol_s_RNG_Biome_Detector.Properties.Settings>
            <setting name="Normal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Windy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Snowy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rainy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sand_Storm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Starfall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Heaven" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Corruption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Null" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Singularity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cyberspace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dreamspace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Glitched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Blazing_Sun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eggland" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pumpkin_Moon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Blood_Rain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Graveyard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Aurora" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onlypingforrare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="treatsingasrare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pingrole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pinguserid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pingeveryone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dontping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="totalrarebiomes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalbiomes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="privateserver" serializeAs="String">
                <value />
            </setting>
            <setting name="sPingRole" serializeAs="String">
                <value />
            </setting>
            <setting name="sPingUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="Hell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastBiome" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="webhooks" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="webhook" serializeAs="String">
                <value />
            </setting>
        </Sol_s_RNG_Biome_Detector.Properties.Settings>
    </userSettings>
</configuration>